
*{
    font-family: 'Open Sans', sans-serif;
}

input{
    margin: 3px auto;
}

button{
    margin: 3px auto;
}

.container {
    max-width: 800px;
    width: 100%;

    margin: 0 auto;
    padding: 1rem;

    background: #eee;
}

input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
    border: 2px solid black;
}

input:disabled+label {
    opacity: .5;
}

label {
    display: inline-block;
    min-width: 140px;
}

.hint {
    margin-left: .4rem;
}


/*   specific   */

.error {
    visibility: visible;
    color: #f00;
    border: 1px #f55 solid;
    border-radius: 5px;
    /*background: #ededed;*/

    margin: 0;
    padding: 5px auto;

    text-align: center;
}

.error:empty {
    visibility: hidden;
}


details {
    margin: 1.3rem 0;
    /*border-bottom: 1px solid #aaa;*/
    padding: 0.5rem;
    height: auto;
    max-height: 1.5rem; /* set to line heihgt */
    transition: all 0.1s ease;
}

details[open] {
    max-height: 999rem;
    transition: all 1s ease;
    border: 1px solid #aaa;
}

details summary {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0.5em;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.8em;
}



